/* Header styling */
.appBar{
    background-color: #333;
    color: #FFF;
    margin: auto;
    padding: 10px;
}
.header {
    color: rgb(240, 240, 240);
    font-size: 2.5em;
    margin: auto;
    padding: 0;
    font-family: "Roboto";
}
.nav {
    background-color: #333;
    overflow: hidden;
}
a {
    color: #000;
    text-decoration: none;
}
a:visited {
    color: #000;
}

/* Home styling */
.home {
    background-color: #333;
    color: #FFF;
    margin: auto;
    padding: 10px;
    font-family: "Roboto";
}
.paper{
    background-color: #333;
    color: rgb(240, 240, 240);
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    width: 50%;
    min-height: 500px;
    font-family: "Roboto";
}
.text{
    margin: auto;
    padding: 10px;
    text-align: center;
}